<% include ../../partials/header %>
<div class="container">

<header class="jumbotron">
    <H1 class="edit-comment"> Edit your comment </H1>
</header>



<form action="/att/<%= Att_id %>/comment/<%=comment._id%>?_method=PUT" method="POST">
   
    
  <div class="form-group">
    <label>Comment</label>
        <input name="comment[text]" class="form-control" id="exampleInputEmail1" value="<%=comment.text %>" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

</form>

</div>

<% include ../../partials/footer %>


