<% include ../partials/header %>
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="https://images3.alphacoders.com/816/thumb-1920-816092.jpg">
			<div class="carousel-caption">
				<h1 class="display-2">Berlin</h1>
					<h3> Website Layout </h3>
					<button type="button" class="btn btn-outline-light btn-lg">View Demo</button>
					<button type="button" class="btn btn-primary btn-lg">Get Started</button>
		</div>
	</div>
		<div class="carousel-item">
			<img src="http://s1.1zoom.me/big0/510/Coast_Bridges_Rivers_469371.jpg">
		</div>
		<div class="carousel-item">
			<img src="https://images5.alphacoders.com/700/thumb-1920-700745.jpg">
		</div>
</div>
</div>
      
      
      
      
      
      
      
      
<% include ../partials/footer %>



