

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <!--takes the entire screen-->
    <div class="container-fluid">  
    <a class="navbar-brand" href="/att"><img src="https://thumb1.shutterstock.com/display_pic_with_logo/3586934/687787456/stock-vector-black-and-white-building-of-berlin-travel-icon-landmarks-in-germany-city-architecture-vector-687787456.jpg" style="width: 120px"> </a>
      <button class='navbar-toggler' type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
</nav>

